* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #5ca39b;
}

.app h1 {
  margin: 0 0 30px 0;
  font-size: 30px;
  color: #f0d5b5;
}

.browser {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  min-height: 50vh;
  border-radius: 5px;
  background-color: #f0d5b5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.browser__tabs {
  display: flex;
  flex-shrink: 1;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #9ba47f;
}

.browser__tab {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 120px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #9ba47f;
  transition: 0.3s ease all;
}

.browser__tab .link {
  display: block;
  padding: 12px 25px;
  text-decoration: none;
  color: #f0d5b5;
  text-transform: uppercase;
  font-size: 18px;
}

.browser__viewport {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ba47f;
  flex: 1;
  flex-grow: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.highlight {
  display: block;
  position: absolute;
  top: -10px;
  height: 80px;
  width: 300px;
  border-radius: 50%;
  opacity: 0.4;
  background: radial-gradient(rgb(179, 241, 177), rgba(176, 233, 190, 0));
  pointer-events: none;
  transition: 0.3s ease all;
}
